In [397]:
import pandas as pd
import sqlite3 as sql
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np


%matplotlib inline

In [398]:
weather_2018 = pd.read_csv('../data/weather_2018.csv')

In [399]:
weather_2018.head()

,STATION,NAME,DATE,AWND,DAPR,MDPR,PGTM,PRCP,PSUN,SNOW,...,WSF2,WSF5,WT01,WT02,WT03,WT04,WT05,WT06,WT08,WT11
0,US1TNCH0002,"KINGSTON SPRINGS 0.3 ENE, TN US",2018-01-01,NaN,NaN,NaN,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,US1TNCH0002,"KINGSTON SPRINGS 0.3 ENE, TN US",2018-01-02,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,US1TNCH0002,"KINGSTON SPRINGS 0.3 ENE, TN US",2018-01-03,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,US1TNCH0002,"KINGSTON SPRINGS 0.3 ENE, TN US",2018-01-04,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,US1TNCH0002,"KINGSTON SPRINGS 0.3 ENE, TN US",2018-01-05,NaN,NaN,NaN,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [400]:
#weather_2018 = weather_2018[(pd.notnull(weather_2018.PRCP)) & (pd.notnull(weather_2018.lng))]
#weather_2018 = weather_2018.reset_index(drop = True)
#weather_2018

In [401]:
weather_2018 = weather_2018[['STATION', 'NAME', 'DATE', 'PRCP']]

In [402]:
weather_2018.head()

       STATION                             NAME        DATE  PRCP
0  US1TNCH0002  KINGSTON SPRINGS 0.3 ENE, TN US  2018-01-01   0.0
1  US1TNCH0002  KINGSTON SPRINGS 0.3 ENE, TN US  2018-01-02   0.0
2  US1TNCH0002  KINGSTON SPRINGS 0.3 ENE, TN US  2018-01-03   0.0
3  US1TNCH0002  KINGSTON SPRINGS 0.3 ENE, TN US  2018-01-04   0.0
4  US1TNCH0002  KINGSTON SPRINGS 0.3 ENE, TN US  2018-01-05   0.0

In [403]:
#db =  ('../data/weather_2018.csv')
#con = sql.connect(db)
#mycursor = con.cursor()
#mycursor.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")
#tables=(mycursor.fetchall())
#print(tables)

In [404]:
june_2018 = weather_2018[(weather_2018['DATE'] == '2018-06-16')]

In [405]:
june_2018.head()

          STATION                                  NAME        DATE  PRCP
165   US1TNCH0002       KINGSTON SPRINGS 0.3 ENE, TN US  2018-06-16  0.00
506   USC00403280          FRANKLIN SEWAGE PLANT, TN US  2018-06-16  0.35
1489  US1TNRD0095                   SMYRNA 2.1 E, TN US  2018-06-16  0.00
1980  USC00406435  NEAPOLIS EXPERIMENTAL STATION, TN US  2018-06-16  0.05
2530  US1TNWL0077                 FRANKLIN 4.4 W, TN US  2018-06-16  0.77

In [406]:
april_2018 = weather_2018[(weather_2018['DATE'] == '2018-04-12')]

In [407]:
april_2018.head()

          STATION                             NAME        DATE  PRCP
101   US1TNCH0002  KINGSTON SPRINGS 0.3 ENE, TN US  2018-04-12   0.0
442   USC00403280     FRANKLIN SEWAGE PLANT, TN US  2018-04-12   0.0
797   US1TNCH0007   KINGSTON SPRINGS 1.4 SW, TN US  2018-04-12   0.0
1125  US1TNRB0003       SPRINGFIELD 1.8 WSW, TN US  2018-04-12   0.0
1427  US1TNRD0095              SMYRNA 2.1 E, TN US  2018-04-12   0.0

In [408]:
jan_2018 = weather_2018[(weather_2018['DATE'] == '2018-01-31')]

In [409]:
jan_2018.head(2)

         STATION                             NAME        DATE  PRCP
30   US1TNCH0002  KINGSTON SPRINGS 0.3 ENE, TN US  2018-01-31   0.0
374  USC00403280     FRANKLIN SEWAGE PLANT, TN US  2018-01-31   0.0

In [410]:
march_2018 = weather_2018[(weather_2018['DATE'] == '2018-03-03')]

In [411]:
march_2018

,STATION,NAME,DATE,PRCP
61,US1TNCH0002,"KINGSTON SPRINGS 0.3 ENE, TN US",2018-03-03,0.00
404,USC00403280,"FRANKLIN SEWAGE PLANT, TN US",2018-03-03,0.00
757,US1TNCH0007,"KINGSTON SPRINGS 1.4 SW, TN US",2018-03-03,0.00
1093,US1TNRB0003,"SPRINGFIELD 1.8 WSW, TN US",2018-03-03,0.00
1396,US1TNRD0095,"SMYRNA 2.1 E, TN US",2018-03-03,0.00
1875,USC00406435,"NEAPOLIS EXPERIMENTAL STATION, TN US",2018-03-03,0.15
2246,US1TNRB0001,"RIDGETOP 3.8 SW, TN US",2018-03-03,0.00
2425,US1TNWL0077,"FRANKLIN 4.4 W, TN US",2018-03-03,0.00
3181,US1TNRD0099,"SMYRNA 3.0 ESE, TN US",2018-03-03,0.00
3546,US1TNWL0079,"SPRING HILL 2.8 ENE, TN US",2018-03-03,0.00
3862,US1TNDV0076,"MOUNT JULIET 6.1 SSW, TN US",2018-03-03,0.00
4362,US1TNWN0090,"MOUNT JULIET 4.0 SE, TN US",2018-03-03,0.00
4711,US1TNDV0079,"MOUNT JULIET 5.2 SSW, TN US",2018-03-03,0.00
5058,US1TNDV0112,"NASHVILLE 7.6 WSW, TN US",2018-03-03,NaN
5298,US1TNDV0111,"MADISON 1.2 WSW, TN US",2018-03-03,0.00
5717,USC00402989,"FAIRVIEW BOWIE NAT CTR, TN US",2018-03-03,0.00
6082,US1TNWL0080,"NOLENSVILLE 2.0 W, TN US",2018-03-03,0.00
6430,US1TNWN0093,"GALLATIN 5.7 SSE, TN US",2018-03-03,0.00
6794,US1TNWL0081,"NOLENSVILLE 1.5 W, TN US",2018-03-03,0.00
7134,US1TNWN0094,"LEBANON 8.9 NNW, TN US",2018-03-03,0.00
7394,US1TNRD0008,"MURFREESBORO 3.2 WSW, TN US",2018-03-03,0.00
7946,US1TNSR0001,"GALLATIN 1.7 WNW, TN US",2018-03-03,0.00
8294,US1TNWL0005,"FOREST HILLS 4.3 WSW, TN US",2018-03-03,0.00
8614,USC00408562,"SPRINGFIELD EXPERIMENTAL STATION, TN US",2018-03-03,0.00
8970,US1TNDC0026,"WHITE BLUFF 1.4 NNE, TN US",2018-03-03,0.00
9294,US1TNDV0067,"HERMITAGE 4.2 SE, TN US",2018-03-03,0.00
9647,US1TNWL0010,"NOLENSVILLE 1.0 NNW, TN US",2018-03-03,0.00
9989,USC00401640,"CHARLOTTE, TN US",2018-03-03,0.00
10553,USW00013897,"NASHVILLE INTERNATIONAL AIRPORT, TN US",2018-03-03,0.00
10914,US1TNRD0070,"LA VERGNE 2.1 SW, TN US",2018-03-03,0.00
...,...,...,...,...
21114,US1TNDV0153,"NASHVILLE 9.9 W, TN US",2018-03-03,0.00
21235,US1TNWL0041,"EAGLEVILLE 3.9 WSW, TN US",2018-03-03,0.00
21801,US1TNDV0155,"NASHVILLE 3.6 SSW, TN US",2018-03-03,0.00
21993,US1TNDV0152,"NASHVILLE 4.1 SSW, TN US",2018-03-03,0.00
22340,USC00406180,"MONTGOMERY BELL SP, TN US",2018-03-03,0.00
22683,US1TNRD0100,"MURFREESBORO 7.9 NNW, TN US",2018-03-03,0.00
23035,US1TNWN0036,"LEBANON 2.7 SSE, TN US",2018-03-03,0.00
23398,US1TNDV0138,"NASHVILLE 5.2 WSW, TN US",2018-03-03,0.00
23797,US1TNDV0143,"HERMITAGE 3.2 SSW, TN US",2018-03-03,0.00
24157,US1TNWN0041,"MOUNT JULIET 2.0 ENE, TN US",2018-03-03,0.00
24409,US1TNMT0078,"CLARKSVILLE 11.4 SE, TN US",2018-03-03,0.00
24756,USC00406371,"MURFREESBORO 5 N, TN US",2018-03-03,0.00
25121,US1TNSR0011,"HENDERSONVILLE 2.9 NE, TN US",2018-03-03,0.00
25468,USC00408953,"THOMPSON STATION, TN US",2018-03-03,0.00
25824,US1TNDV0007,"BELLE MEADE 1.7 WNW, TN US",2018-03-03,0.00
26093,US1TNWL0018,"BRENTWOOD 0.5 SSW, TN US",2018-03-03,0.00
26791,US1TNWL0012,"FOREST HILLS 6.7 WSW, TN US",2018-03-03,0.00
27102,USR0000TBUR,"BURNS TENNESSEE, TN US",2018-03-03,NaN
27459,US1TNDV0131,"GOODLETTSVILLE 1.5 W, TN US",2018-03-03,0.00
27778,USC00406803,"OLD HICKORY DAM, TN US",2018-03-03,0.00
28136,USC00406806,"OLD HICKORY WEATHER FORECAST OFFICE, TN US",2018-03-03,0.00
28487,US1TNWL0021,"BRENTWOOD 2.6 SE, TN US",2018-03-03,0.00
28651,USC00406403,"NASHVILLE BERRY FIELD, TN US",2018-03-03,0.00
29016,US1TNWN0019,"GREEN HILL 3.1 NNE, TN US",2018-03-03,0.00
29380,US1TNDV0117,"NASHVILLE 5.0 NE, TN US",2018-03-03,0.00
29735,US1TNWN0010,"GREEN HILL 0.3 N, TN US",2018-03-03,0.00
30063,US1TNWN0012,"LEBANON 3.7 WNW, TN US",2018-03-03,0.00
30230,US1TNWN0014,"GREEN HILL 1.7 S, TN US",2018-03-03,0.00
30527,US1TNDV0121,"NASHVILLE 6.4 E, TN US",2018-03-03,0.00
30833,US1TNDV0081,"ANTIOCH 4.3ENE, TN US",2018-03-03,0.00

In [412]:
march_2018 = march_2018.loc[march_2018.NAME == 'NASHVILLE INTERNATIONAL AIRPORT, TN US']

In [413]:
march_2018

           STATION                                    NAME        DATE  PRCP
10553  USW00013897  NASHVILLE INTERNATIONAL AIRPORT, TN US  2018-03-03   0.0

In [414]:
dates_2018 = pd.concat([march_2018, april_2018, jan_2018, june_2018])

In [415]:
dates_2018

,STATION,NAME,DATE,PRCP
10553,USW00013897,"NASHVILLE INTERNATIONAL AIRPORT, TN US",2018-03-03,0.00
101,US1TNCH0002,"KINGSTON SPRINGS 0.3 ENE, TN US",2018-04-12,0.00
442,USC00403280,"FRANKLIN SEWAGE PLANT, TN US",2018-04-12,0.00
797,US1TNCH0007,"KINGSTON SPRINGS 1.4 SW, TN US",2018-04-12,0.00
1125,US1TNRB0003,"SPRINGFIELD 1.8 WSW, TN US",2018-04-12,0.00
1427,US1TNRD0095,"SMYRNA 2.1 E, TN US",2018-04-12,0.00
1706,US1TNSR0074,"GALLATIN 1.9 NNE, TN US",2018-04-12,0.02
1915,USC00406435,"NEAPOLIS EXPERIMENTAL STATION, TN US",2018-04-12,0.00
2465,US1TNWL0077,"FRANKLIN 4.4 W, TN US",2018-04-12,0.00
2802,US1TNDV0102,"BELLE MEADE 1.2 ESE, TN US",2018-04-12,0.00
3221,US1TNRD0099,"SMYRNA 3.0 ESE, TN US",2018-04-12,0.00
3582,US1TNWL0079,"SPRING HILL 2.8 ENE, TN US",2018-04-12,0.00
3902,US1TNDV0076,"MOUNT JULIET 6.1 SSW, TN US",2018-04-12,0.00
4402,US1TNWN0090,"MOUNT JULIET 4.0 SE, TN US",2018-04-12,0.00
4751,US1TNDV0079,"MOUNT JULIET 5.2 SSW, TN US",2018-04-12,0.00
5090,US1TNDV0112,"NASHVILLE 7.6 WSW, TN US",2018-04-12,0.00
5338,US1TNDV0111,"MADISON 1.2 WSW, TN US",2018-04-12,0.00
5757,USC00402989,"FAIRVIEW BOWIE NAT CTR, TN US",2018-04-12,0.00
6122,US1TNWL0080,"NOLENSVILLE 2.0 W, TN US",2018-04-12,0.00
6470,US1TNWN0093,"GALLATIN 5.7 SSE, TN US",2018-04-12,0.00
6834,US1TNWL0081,"NOLENSVILLE 1.5 W, TN US",2018-04-12,0.00
7171,US1TNWN0094,"LEBANON 8.9 NNW, TN US",2018-04-12,0.00
7434,US1TNRD0008,"MURFREESBORO 3.2 WSW, TN US",2018-04-12,0.00
7986,US1TNSR0001,"GALLATIN 1.7 WNW, TN US",2018-04-12,0.00
8334,US1TNWL0005,"FOREST HILLS 4.3 WSW, TN US",2018-04-12,0.00
8654,USC00408562,"SPRINGFIELD EXPERIMENTAL STATION, TN US",2018-04-12,0.00
9010,US1TNDC0026,"WHITE BLUFF 1.4 NNE, TN US",2018-04-12,0.00
9334,US1TNDV0067,"HERMITAGE 4.2 SE, TN US",2018-04-12,0.00
9686,US1TNWL0010,"NOLENSVILLE 1.0 NNW, TN US",2018-04-12,0.00
10023,USC00401640,"CHARLOTTE, TN US",2018-04-12,0.00
...,...,...,...,...
19468,US1TNDV0041,"HERMITAGE 2.6 E, TN US",2018-06-16,0.00
19848,US1TNWN0042,"MOUNT JULIET 2.9 WSW, TN US",2018-06-16,0.00
20186,US1TNWL0038,"BRENTWOOD 2.7 SSE, TN US",2018-06-16,0.00
21337,US1TNWL0041,"EAGLEVILLE 3.9 WSW, TN US",2018-06-16,0.00
21633,USC00403636,"GOODLETTSVILLE 7 WNW, TN US",2018-06-16,0.00
21861,US1TNDV0155,"NASHVILLE 3.6 SSW, TN US",2018-06-16,NaN
22093,US1TNDV0152,"NASHVILLE 4.1 SSW, TN US",2018-06-16,0.50
22437,USC00406180,"MONTGOMERY BELL SP, TN US",2018-06-16,0.00
22785,US1TNRD0100,"MURFREESBORO 7.9 NNW, TN US",2018-06-16,0.00
23140,US1TNWN0036,"LEBANON 2.7 SSE, TN US",2018-06-16,0.00
23495,US1TNDV0138,"NASHVILLE 5.2 WSW, TN US",2018-06-16,0.00
23900,US1TNDV0143,"HERMITAGE 3.2 SSW, TN US",2018-06-16,0.00
24504,US1TNMT0078,"CLARKSVILLE 11.4 SE, TN US",2018-06-16,0.00
24861,USC00406371,"MURFREESBORO 5 N, TN US",2018-06-16,0.00
25219,US1TNSR0011,"HENDERSONVILLE 2.9 NE, TN US",2018-06-16,0.00
25573,USC00408953,"THOMPSON STATION, TN US",2018-06-16,0.00
26198,US1TNWL0018,"BRENTWOOD 0.5 SSW, TN US",2018-06-16,0.00
26554,USC00406374,"MURFREESBORO STONES RIVER N.B., TN US",2018-06-16,0.00
27207,USR0000TBUR,"BURNS TENNESSEE, TN US",2018-06-16,NaN
27553,US1TNDV0131,"GOODLETTSVILLE 1.5 W, TN US",2018-06-16,0.02
27878,USC00406803,"OLD HICKORY DAM, TN US",2018-06-16,0.00
28240,USC00406806,"OLD HICKORY WEATHER FORECAST OFFICE, TN US",2018-06-16,0.00
28756,USC00406403,"NASHVILLE BERRY FIELD, TN US",2018-06-16,0.01
29121,US1TNWN0019,"GREEN HILL 3.1 NNE, TN US",2018-06-16,0.00
29483,US1TNDV0117,"NASHVILLE 5.0 NE, TN US",2018-06-16,0.00
29840,US1TNWN0010,"GREEN HILL 0.3 N, TN US",2018-06-16,0.00
30102,US1TNWN0012,"LEBANON 3.7 WNW, TN US",2018-06-16,0.00
30327,US1TNWN0014,"GREEN HILL 1.7 S, TN US",2018-06-16,0.00
30585,US1TNDV0121,"NASHVILLE 6.4 E, TN US",2018-06-16,0.08
30937,US1TNDV0081,"ANTIOCH 4.3ENE, TN US",2018-06-16,0.00

In [416]:
filter_list_2018 = ['NASHVILLE INTERNATIONAL AIRPORT, TN US', 'NASHVILLE BERRY FIELD, TN US', 'NASHVILLE 5.0 NE, TN US',
               'NASHVILLE 5.2 WSW, TN US', 'NASHVILLE 6.4 E, TN US', 'NASHVILLE 6.2 SSW, TN US','NASHVILLE 7.6 WSW, TN US',
                   'NASHVILLE 3.5 NW, TN US', 'NASHVILLE 4.8 NE, TN US', 'NASHVILLE 9.6 ESE, TN US', 'NASHVILLE 11.2 SW, TN US',
                   'NASHVILLE 3.5 SW, TN US']
filtered_weather = dates_2018[dates_2018.NAME.isin(filter_list_2018)]

In [417]:
filtered_weather

           STATION                                    NAME        DATE  PRCP
10553  USW00013897  NASHVILLE INTERNATIONAL AIRPORT, TN US  2018-03-03  0.00
5090   US1TNDV0112                NASHVILLE 7.6 WSW, TN US  2018-04-12  0.00
10593  USW00013897  NASHVILLE INTERNATIONAL AIRPORT, TN US  2018-04-12  0.00
23433  US1TNDV0138                NASHVILLE 5.2 WSW, TN US  2018-04-12  0.00
28691  USC00406403            NASHVILLE BERRY FIELD, TN US  2018-04-12  0.00
29419  US1TNDV0117                 NASHVILLE 5.0 NE, TN US  2018-04-12  0.00
30551  US1TNDV0121                  NASHVILLE 6.4 E, TN US  2018-04-12  0.00
5035   US1TNDV0112                NASHVILLE 7.6 WSW, TN US  2018-01-31  0.00
10522  USW00013897  NASHVILLE INTERNATIONAL AIRPORT, TN US  2018-01-31  0.00
23368  US1TNDV0138                NASHVILLE 5.2 WSW, TN US  2018-01-31  0.00
28620  USC00406403            NASHVILLE BERRY FIELD, TN US  2018-01-31  0.00
29349  US1TNDV0117                 NASHVILLE 5.0 NE, TN US  2018-01-31  0.00
10658  USW00013897  NASHVILLE INTERNATIONAL AIRPORT, TN US  2018-06-16  0.00
23495  US1TNDV0138                NASHVILLE 5.2 WSW, TN US  2018-06-16  0.00
28756  USC00406403            NASHVILLE BERRY FIELD, TN US  2018-06-16  0.01
29483  US1TNDV0117                 NASHVILLE 5.0 NE, TN US  2018-06-16  0.00
30585  US1TNDV0121                  NASHVILLE 6.4 E, TN US  2018-06-16  0.08

In [418]:
weather_18 = filtered_weather.sort_values('DATE')

In [419]:
weather_18

           STATION                                    NAME        DATE  PRCP
10522  USW00013897  NASHVILLE INTERNATIONAL AIRPORT, TN US  2018-01-31  0.00
29349  US1TNDV0117                 NASHVILLE 5.0 NE, TN US  2018-01-31  0.00
28620  USC00406403            NASHVILLE BERRY FIELD, TN US  2018-01-31  0.00
23368  US1TNDV0138                NASHVILLE 5.2 WSW, TN US  2018-01-31  0.00
5035   US1TNDV0112                NASHVILLE 7.6 WSW, TN US  2018-01-31  0.00
10553  USW00013897  NASHVILLE INTERNATIONAL AIRPORT, TN US  2018-03-03  0.00
30551  US1TNDV0121                  NASHVILLE 6.4 E, TN US  2018-04-12  0.00
28691  USC00406403            NASHVILLE BERRY FIELD, TN US  2018-04-12  0.00
23433  US1TNDV0138                NASHVILLE 5.2 WSW, TN US  2018-04-12  0.00
10593  USW00013897  NASHVILLE INTERNATIONAL AIRPORT, TN US  2018-04-12  0.00
5090   US1TNDV0112                NASHVILLE 7.6 WSW, TN US  2018-04-12  0.00
29419  US1TNDV0117                 NASHVILLE 5.0 NE, TN US  2018-04-12  0.00
29483  US1TNDV0117                 NASHVILLE 5.0 NE, TN US  2018-06-16  0.00
10658  USW00013897  NASHVILLE INTERNATIONAL AIRPORT, TN US  2018-06-16  0.00
23495  US1TNDV0138                NASHVILLE 5.2 WSW, TN US  2018-06-16  0.00
28756  USC00406403            NASHVILLE BERRY FIELD, TN US  2018-06-16  0.01
30585  US1TNDV0121                  NASHVILLE 6.4 E, TN US  2018-06-16  0.08

In [420]:
police_2013 = pd.read_csv('../data/call_2013.csv')

In [421]:
police_2013.head(200)

,Event Number,Call Received,Complaint Number,Shift,Tencode,Tencode Description,Tencode Suffix,Tencode Suffix Description,Disposition Code,Disposition Description,Block,Street Name,Unit Dispatched,Sector,Zone,Reporting Area (RPA),Latitude,Longitude,Mapped Location
0,PD201300000001,01/01/2013 12:00:00 AM,20130000003,C,15,Community Policing Activity,P,PROGRESS,15,COMMUNITY POLICING,0,11TH AV N / CHARLOTTE AV,410C,C,11.0,4205,36.162,-86.791,"(36.162, -86.791)"
1,PD201300000004,01/01/2013 12:01:00 AM,20130000005,C,83,Shots Fired,P,PROGRESS,11,DISREGARD / SIGNAL 9,0,HOPEDALE DR / HAYWOOD LN,333C,S,33.0,8711,36.069,-86.716,"(36.069, -86.716)"
2,PD201300000005,01/01/2013 12:01:00 AM,20130000008,C,83,Shots Fired,P,PROGRESS,6,ASSISTED OTHER UNIT,0,10TH AV N / CHEATHAM PL,415C,C,15.0,4327,36.176,-86.797,"(36.176, -86.797)"
3,PD201300000007,01/01/2013 12:02:00 AM,0,C,96,Business Check,NaN,NaN,12,LOCATION/BUILDING SECURE,0,OLDHAM ST / COWAN ST,415C,C,13.0,1989,36.175,-86.776,"(36.175, -86.776)"
4,PD201300000006,01/01/2013 12:02:00 AM,20130000006,C,43,Want Officer for Investigation / Assistance,P,PROGRESS,6,ASSISTED OTHER UNIT,600,SYLVAN ST,2W81,E,11.0,1043,36.168,-86.759,"(36.168, -86.759)"
5,PD201300000008,01/01/2013 12:02:00 AM,0,C,93,Traffic Violation,NaN,NaN,6,ASSISTED OTHER UNIT,0,HEIMAN ST / 23RD AV N,6F61,N,13.0,4479,36.171,-86.812,"(36.171, -86.812)"
6,PD201300000009,01/01/2013 12:02:00 AM,20130000009,C,44,Disorderly Person,P,PROGRESS,11,DISREGARD / SIGNAL 9,1500,14TH AV N,6F61,N,13.0,4473,36.176,-86.804,"(36.176, -86.804)"
7,PD201300000011,01/01/2013 12:03:00 AM,20130000013,C,83,Shots Fired,P,PROGRESS,4,ASSISTED CITIZEN,2400,WOODALE LN,621C,N,21.0,3047,36.222,-86.801,"(36.222, -86.801)"
8,PD201300000012,01/01/2013 12:04:00 AM,20130000012,C,43,Want Officer for Investigation / Assistance,P,PROGRESS,11,DISREGARD / SIGNAL 9,1300,STRATFORD AV,235C,E,35.0,1421,36.213,-86.723,"(36.213, -86.723)"
9,PD201300000013,01/01/2013 12:04:00 AM,20130000019,C,83,Shots Fired,P,PROGRESS,9,SUBJECT WARNED,300,CHAMBERLIN ST,115C,W,19.0,5233,36.148,-86.830,"(36.148, -86.83)"
10,PD201300000016,01/01/2013 12:05:00 AM,20130000015,C,54,Person with Weapon,P,PROGRESS,6,ASSISTED OTHER UNIT,1800,6TH AV N,413C,C,15.0,4353,36.184,-86.795,"(36.184, -86.795)"
11,PD201300000019,01/01/2013 12:06:00 AM,20130000014,C,83,Shots Fired,P,PROGRESS,5,GONE ON ARRIVAL,100,SHANNON AV,711C,M,15.0,1729,36.276,-86.708,"(36.276, -86.708)"
12,PD201300000020,01/01/2013 12:06:00 AM,20130000022,C,83,Shots Fired,P,PROGRESS,5,GONE ON ARRIVAL,0,16TH AV N / HERMAN ST,613C,N,15.0,5421,36.165,-86.800,"(36.165, -86.8)"
13,PD201300000022,01/01/2013 12:07:00 AM,20130000018,C,96,Business Check,NaN,NaN,12,LOCATION/BUILDING SECURE,1500,ENSLEY BLVD,364B,S,11.0,8127,36.139,-86.761,"(36.139, -86.761)"
14,PD201300000021,01/01/2013 12:07:00 AM,20130000025,C,43,Want Officer for Investigation / Assistance,P,PROGRESS,1,M.P.D. REPORT COMPLED,0,TREVECCA AV / STROUSE AV,2F37,E,33.0,1883,36.194,-86.745,"(36.194, -86.745)"
15,PD201300000024,01/01/2013 12:07:00 AM,20130000024,C,83,Shots Fired,P,PROGRESS,5,GONE ON ARRIVAL,500,OWENDALE DR,537C,H,35.0,8981,36.080,-86.621,"(36.08, -86.621)"
16,PD201300000025,01/01/2013 12:07:00 AM,20130000016,C,83,Shots Fired,P,PROGRESS,12,LOCATION/BUILDING SECURE,400,MURFREESBORO PKE,311C,S,11.0,8119,36.143,-86.748,"(36.143, -86.748)"
17,PD201300000026,01/01/2013 12:08:00 AM,20130000087,C,83,Shots Fired,P,PROGRESS,4,ASSISTED CITIZEN,1800,SPRING BRANCH DR,711C,M,15.0,1721,36.295,-86.694,"(36.295, -86.694)"
18,PD201300000027,01/01/2013 12:08:00 AM,20130000017,C,43,Want Officer for Investigation / Assistance,P,PROGRESS,6,ASSISTED OTHER UNIT,2200,HEIMAN ST,6F61,N,13.0,4481,36.170,-86.812,"(36.17, -86.812)"
19,PD201300000028,01/01/2013 12:08:00 AM,20130000021,C,83,Shots Fired,P,PROGRESS,6,ASSISTED OTHER UNIT,1400,AARONWOOD DR,5F12,H,25.0,9617,36.216,-86.627,"(36.216, -86.627)"
20,PD201300000030,01/01/2013 12:09:00 AM,20130000034,C,83,Shots Fired,P,PROGRESS,11,DISREGARD / SIGNAL 9,5700,RIVER RD,137C,W,33.0,4701,36.129,-86.910,"(36.129, -86.91)"
21,PD201300000031,01/01/2013 12:09:00 AM,20130000057,C,70,Burglary - Residence,A,ALARM,13,FALSE CALL,600,HARPETH KNOLL RD,137C,W,37.0,4819,36.056,-86.936,"(36.056, -86.936)"
22,PD201300000032,01/01/2013 12:09:00 AM,20130000042,C,45,Vehicle Accident - Property Damage,P,PROGRESS,1,M.P.D. REPORT COMPLED,0,SPENCE LN / ELM HILL PKE,525C,H,13.0,9015,36.144,-86.723,"(36.144, -86.723)"
23,PD201300000033,01/01/2013 12:10:00 AM,20130000028,C,83,Shots Fired,P,PROGRESS,5,GONE ON ARRIVAL,300,E WEBSTER ST,711C,M,11.0,1507,36.250,-86.713,"(36.25, -86.713)"
24,PD201300000034,01/01/2013 12:10:00 AM,20130000030,C,71,Burglary - Non-Residence,A,ALARM,4,ASSISTED CITIZEN,4000,ARMORY OAKS DR,VANDY,S,21.0,8525,36.105,-86.762,"(36.105, -86.762)"
25,PD201300000036,01/01/2013 12:10:00 AM,0,C,96,Business Check,NaN,NaN,12,LOCATION/BUILDING SECURE,0,ARGLE AV / NEELYS BEND RD,7F85,M,11.0,1625,36.256,-86.713,"(36.256, -86.713)"
26,PD201300000037,01/01/2013 12:10:00 AM,20130000031,C,83,Shots Fired,P,PROGRESS,5,GONE ON ARRIVAL,1500,9TH AV N,4C61,C,15.0,4345,36.178,-86.798,"(36.178, -86.798)"
27,PD201300000038,01/01/2013 12:10:00 AM,20130000124,C,70,Burglary - Residence,A,ALARM,12,LOCATION/BUILDING SECURE,100,ELLINGTON PL,7F80,M,23.0,1799,36.241,-86.735,"(36.241, -86.735)"
28,PD201300000039,01/01/2013 12:11:00 AM,20130000033,C,49,Vehicle Blocking Right of Way,P,PROGRESS,3,CITATION - TRAFFIC,0,PORTER RD / EARLY AV,235C,E,15.0,1311,36.187,-86.730,"(36.187, -86.73)"
29,PD201300000040,01/01/2013 12:11:00 AM,20130000027,C,87,Safety Hazard,P,PROGRESS,5,GONE ON ARRIVAL,0,EXIT 212 I40 W,517C,H,11.0,9005,36.151,-86.751,"(36.151, -86.751)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,PD201300000215,01/01/2013 01:02:00 AM,20130000144,C,96,Business Check,NaN,NaN,12,LOCATION/BUILDING SECURE,2300,N GALLATIN PKE,7F86,M,25.0,1737,36.309,-86.684,"(36.309, -86.684)"
171,PD201300000217,01/01/2013 01:02:00 AM,0,C,96,Business Check,NaN,NaN,12,LOCATION/BUILDING SECURE,1300,ANTIOCH PKE,327B,S,31.0,8847,36.084,-86.689,"(36.084, -86.689)"
172,PD201300000219,01/01/2013 01:03:00 AM,0,C,96,Business Check,NaN,NaN,12,LOCATION/BUILDING SECURE,1800,N GALLATIN PKE,7F85,M,15.0,1731,36.298,-86.698,"(36.298, -86.698)"
173,PD201300000220,01/01/2013 01:04:00 AM,20130000180,C,96,Business Check,NaN,NaN,12,LOCATION/BUILDING SECURE,2700,WHITES CREEK PKE,6F74,N,23.0,3043,36.219,-86.804,"(36.219, -86.804)"
174,PD201300000221,01/01/2013 01:04:00 AM,20130000149,C,40,Suspicious Person,TS,TERRY STOP,9,SUBJECT WARNED,0,WOODLAND ST / S 6TH ST,2F24,E,11.0,1113,36.173,-86.763,"(36.173, -86.763)"
175,PD201300000222,01/01/2013 01:04:00 AM,20130000153,C,43,Want Officer for Investigation / Assistance,P,PROGRESS,4,ASSISTED CITIZEN,0,OLD HICKORY\ CHARLOTTE,5261,NaN,NaN,0,34.153,-92.509,"(34.153, -92.509)"
176,PD201300000223,01/01/2013 01:05:00 AM,0,C,93,Traffic Violation,NaN,NaN,9,SUBJECT WARNED,0,HILLSBORO PKE / SHARONDALE DR,5155,W,27.0,6419,36.121,-86.808,"(36.121, -86.808)"
177,PD201300000224,01/01/2013 01:05:00 AM,20130000150,C,43,Want Officer for Investigation / Assistance,P,PROGRESS,6,ASSISTED OTHER UNIT,1500,DEMONBREUN ST,119C,W,11.0,5701,36.153,-86.791,"(36.153, -86.791)"
178,PD201300000225,01/01/2013 01:05:00 AM,20130000175,C,43,Want Officer for Investigation / Assistance,P,PROGRESS,9,SUBJECT WARNED,1000,THOMPSON PL,537C,H,31.0,8821,36.127,-86.707,"(36.127, -86.707)"
179,PD201300000227,01/01/2013 01:05:00 AM,20130000200,C,57,Fight / Assault,P,PROGRESS,6,ASSISTED OTHER UNIT,1500,DEMONBREUN ST,115C,W,21.0,6721,36.154,-86.789,"(36.154, -86.789)"
180,PD201300000228,01/01/2013 01:05:00 AM,20130000152,C,45,Vehicle Accident - Property Damage,P,PROGRESS,11,DISREGARD / SIGNAL 9,0,10TH AV N / BROADWAY,cmd,C,23.0,4117,36.158,-86.784,"(36.158, -86.784)"
181,PD201300000229,01/01/2013 01:05:00 AM,0,C,45,Vehicle Accident - Property Damage,P,PROGRESS,11,DISREGARD / SIGNAL 9,0,10TH AV N / BROADWAY,NaN,C,23.0,4117,36.158,-86.784,"(36.158, -86.784)"
182,PD201300000230,01/01/2013 01:06:00 AM,20130000157,C,83,Shots Fired,P,PROGRESS,5,GONE ON ARRIVAL,200,BONNALYNN DR,522C,H,21.0,9613,36.200,-86.629,"(36.2, -86.629)"
183,PD201300000231,01/01/2013 01:06:00 AM,0,C,93,Traffic Violation,NaN,NaN,9,SUBJECT WARNED,2800,WEST END AV,5153,W,15.0,5625,36.145,-86.812,"(36.145, -86.812)"
184,PD201300000232,01/01/2013 01:06:00 AM,20130000181,C,44,Disorderly Person,P,PROGRESS,5,GONE ON ARRIVAL,0,2ND AV N / COMMERCE ST,405,C,21.0,4133,36.163,-86.776,"(36.163, -86.776)"
185,PD201300000233,01/01/2013 01:08:00 AM,20130000159,C,83,Shots Fired,P,PROGRESS,8,ADVISED IN CIVIL CASE,0,16TH AV N / COCKRILL ST,6F66,N,13.0,4473,36.175,-86.805,"(36.175, -86.805)"
186,PD201300000234,01/01/2013 01:08:00 AM,20130000155,C,57,Fight / Assault,R,REPORT,1,M.P.D. REPORT COMPLED,0,5TH AV N / UNION ST,NaN,C,11.0,4139,36.165,-86.781,"(36.165, -86.781)"
187,PD201300000235,01/01/2013 01:08:00 AM,20130000158,C,42,Intoxicated Person,P,PROGRESS,2,"ARREST, CUSTODIAL OR CITATION",0,4TH AV S / I40 W ENT RAMP,NaN,C,23.0,4007,36.151,-86.771,"(36.151, -86.771)"
188,PD201300000237,01/01/2013 01:09:00 AM,20130000174,C,35,Mentally ILL Person,P,PROGRESS,14,ASSISTANCE REFUSED,8700,HIGHWAY 100,137C,W,37.0,4805,36.033,-86.987,"(36.033, -86.987)"
189,PD201300000238,01/01/2013 01:09:00 AM,20130000164,C,93,Traffic Violation,NaN,NaN,9,SUBJECT WARNED,0,WEST END AV / 29TH AV N,5159,W,15.0,5815,36.145,-86.813,"(36.145, -86.813)"
190,PD201300000239,01/01/2013 01:10:00 AM,20130000167,C,71,Burglary - Non-Residence,A,ALARM,11,DISREGARD / SIGNAL 9,0,LINDSLEY AV,421C,C,25.0,4029,36.155,-86.764,"(36.155, -86.764)"
191,PD201300000240,01/01/2013 01:10:00 AM,20130000138,C,45,Vehicle Accident - Property Damage,P,PROGRESS,11,DISREGARD / SIGNAL 9,0,10TH AV N / BROADWAY,NaN,C,23.0,4117,36.158,-86.784,"(36.158, -86.784)"
192,PD201300000243,01/01/2013 01:10:00 AM,20130000162,C,15,Community Policing Activity,P,PROGRESS,15,COMMUNITY POLICING,2800,LEBANON PKE,517C,H,17.0,9401,36.167,-86.662,"(36.167, -86.662)"
193,PD201300000244,01/01/2013 01:10:00 AM,20130000163,C,40,Suspicious Person,TS,TERRY STOP,2,"ARREST, CUSTODIAL OR CITATION",0,14TH AV N / HYNES ST,111C,W,11.0,5501,36.159,-86.793,"(36.159, -86.793)"
194,PD201300000245,01/01/2013 01:11:00 AM,20130000165,C,93,Traffic Violation,NaN,NaN,3,CITATION - TRAFFIC,0,MORTON AV / NOLENSVILLE PKE,NaN,S,15.0,8425,36.106,-86.743,"(36.106, -86.743)"
195,PD201300007511,01/03/2013 01:07:00 AM,0,C,95,Meal Break,NaN,NaN,4,ASSISTED CITIZEN,2000,WEST END AV,117C,W,11.0,5713,36.150,-86.801,"(36.15, -86.801)"
196,PD201300000247,01/01/2013 01:11:00 AM,20130000168,C,93,Traffic Violation,NaN,NaN,9,SUBJECT WARNED,0,OSAGE ST / 21ST AV N,6F66,N,13.0,4459,36.177,-86.811,"(36.177, -86.811)"
197,PD201300000248,01/01/2013 01:12:00 AM,20130000166,C,43,Want Officer for Investigation / Assistance,P,PROGRESS,4,ASSISTED CITIZEN,0,OLD HICKORY BLVD / TOLBERT RD,5261,W,35.0,4903,36.106,-86.922,"(36.106, -86.922)"
198,PD201300000249,01/01/2013 01:12:00 AM,20130000169,C,43,Want Officer for Investigation / Assistance,P,PROGRESS,6,ASSISTED OTHER UNIT,0,2ND AV N / COMMERCE ST,4B43,C,21.0,4133,36.163,-86.776,"(36.163, -86.776)"
199,PD201300000250,01/01/2013 01:12:00 AM,20130000179,C,43,Want Officer for Investigation / Assistance,P,PROGRESS,5,GONE ON ARRIVAL,5900,OLD HICKORY BLVD,522C,H,33.0,9527,36.166,-86.600,"(36.166, -86.6)"

In [422]:
police_2013 = police_2013[['Event Number', 'Call Received', 'Complaint Number', 'Shift', 'Tencode', 'Tencode Description', 
            'Disposition Code', 'Disposition Description', 'Unit Dispatched', 'Sector', 'Zone', 'Latitude', 'Longitude']]

In [423]:
police_2013 = police_2013.rename(columns = {'Event Number': 'id', 
                                                'Call Received': 'call_time', 
                                                'Complaint Number': 'complaint_id',
                                                'Shift': 'shift',
                                                'Tencode': 'tencode',
                                                'Tencode Description': 'tencode_desc',
                                                'Disposition Code': 'disposition',
                                                'Disposition Description': 'disposition_desc',
                                                'Unit Dispatched': 'unit',
                                                'Sector': 'sector',
                                                'Zone': 'zone',
                                                'Latitude': 'lat',
                                                'Longitude': 'lng'})

In [424]:
#filter_list_2013 = ['Prowler']
#police_2013 = police_2013[police_2013.tencode_desc.isin(filter_list_2013)]

In [425]:
#police_2013.head()

In [426]:
police_2018 = pd.read_csv('../data/call_2018.csv')

In [427]:
police_2018 = police_2018[['Event Number',
            'Call Received',
            'Complaint Number',
            'Shift',
            'Tencode',
            'Tencode Description',
            'Disposition Code',
            'Disposition Description',
            'Unit Dispatched',
            'Sector',
            'Zone',
            'Latitude',
            'Longitude']]

In [429]:
police_2018 = police_2018.rename(columns = {'Event Number': 'id', 
                            'Call Received': 'call_time', 
                            'Complaint Number': 'complaint_id',
                            'Shift': 'shift',
                            'Tencode': 'tencode',
                            'Tencode Description': 'tencode_desc',
                            'Disposition Code': 'disposition',
                            'Disposition Description': 'disposition_desc',
                            'Unit Dispatched': 'unit',
                            'Sector': 'sector',
                            'Zone': 'zone',
                            'Latitude': 'lat',
                            'Longitude': 'lng'})

In [430]:
#filter_list_2018 = ['Prowler']
#police_2018 = police_2013[police_2013.tencode_desc.isin(filter_list_2018)]

In [431]:
#police_2018.head()

In [432]:
#prowler = pd.concat([police_2013, police_2018])

In [433]:
#prowler.head()

In [434]:
#import folium

In [435]:
#Nashville = [36.1612, -86.7775]
#nashville_map = folium.Map(location = Nashville, zoom_start = 12)
#nashville_map

In [436]:
#for ind, row in prowler.iterrows():
    #point = [row['lat'], row['lng']]
    #folium.Marker(point).add_to(nashville_map)

In [437]:
#nashville_map

In [478]:
agg_crimes = pd.concat([police_2013, police_2018])

In [479]:
filter_list_2018 = ['Prowler', 'Kidnapping', 'Occult Activity', 'Vehicle Accident - Personal Injury']
agg_crimes = agg_crimes[agg_crimes.tencode_desc.isin(filter_list_2018)]

In [480]:
agg_crimes.tail()

,id,call_time,complaint_id,shift,tencode,tencode_desc,disposition,disposition_desc,unit,sector,zone,lat,lng
747038,PD201800000366,01/01/2018 02:06:00 AM,20180000270,C,46,Vehicle Accident - Personal Injury,11,DISREGARD / SIGNAL 9,123C,W,25,36.017,-87.031
747063,PD201800000324,01/01/2018 01:50:00 AM,20180000246,C,46,Vehicle Accident - Personal Injury,5,GONE ON ARRIVAL,415C,C,23,36.149,-86.776
747108,PD201800000268,01/01/2018 01:29:00 AM,20180000200,C,46,Vehicle Accident - Personal Injury,10,NO RESPONSE,225C,E,25,36.236,-86.759
747135,PD201800000232,01/01/2018 01:12:00 AM,20180000167,C,46,Vehicle Accident - Personal Injury,6,ASSISTED OTHER UNIT,830C,MT,31,36.080,-86.726
747288,PD201800000037,01/01/2018 12:07:00 AM,20180000022,C,58,Prowler,6,ASSISTED OTHER UNIT,214C,E,17,36.214,-86.725

In [481]:
#agg_crimes = agg_crimes.tencode_desc.value_counts().to_frame().reset_index()

In [482]:
#agg_crimes.head(1)

In [483]:
#agg_crimes = agg_crimes.rename(columns = {'index': 'crime', 'tencode_desc': 'count'})

In [484]:
#agg_crimes.head()

In [485]:
#agg_crimes = agg_crimes[(agg_crimes['call_time'])]

In [486]:
#agg_df = agg_crimes.groupby(['call_time','tencode_desc']).agg('count')

In [487]:
agg_crimes['tenncode_desc'].value_counts()

KeyError: 'tenncode_desc'

In [ ]:
sns.set(style="ticks")


# Initialize a grid of plots with a column for each art type
grid = sns.FacetGrid(agg_crimes, 
                     col="call_time", hue="tencode_desc", aspect=1, col_wrap=2)

# Draw a plot to show the trajectory of each country
grid.map(plt.bar, "call_time", "tencode_desc")
grid.add_legend(ncol = 4, title = 'Crimes');